In [8]:
import pandas as pd
import numpy as np
def get_data():
    try : 
        df = pd.read_excel('main_info-2.xlsx', sheet_name = "wszystkie dane poprawione") 
    except : 
        raise Exception('Data reading went wrong! Fix it !')


    # Fill in data to have surnames in each row
    new_surname = []
    current_surname = ''
    for i in df['nazwisko']:
        if type(i) == str:
            current_surname = i
        new_surname.append(current_surname)
    df['nazwisko'] = new_surname
    df.rename(columns = {'wizyta po ilu zabiegach' : 'visit_number',
                        'total clearence pomiedzy wizytami' : 'total_clearence_in_between_visits',
                        'czas ' : 'time',
                        'nazwisko' : 'surname',
                        'total clearence effect wzgledem poczatku' : 'total_clearence_in_respect_to_beginning'
                        }, inplace = True)
    df = df.reset_index(drop=True)
    return df

In [9]:
import pandas as pd 
df = get_data()

In [14]:
df.loc[df["uprzednie leczenie"] == 'brak info']

,surname,time,total_clearence_in_respect_to_beginning,visit_number,total_clearence_in_between_visits,date of birth,uprzednie leczenie
10,4. Krzysztoń,31,3.69911,2,-1.00000,NaN,brak info
16,5.Wąsowicz twarz,38,-2.33455,1,-2.33455,NaN,brak info
20,6.Wąsowicz szyja,38,21.30645,1,21.30645,NaN,brak info
52,9. Będzinowski twarz,81,-18.85650,1,-18.85650,NaN,brak info
69,10.Będzinowski szyja,27,27.71206,2,-1.00000,NaN,brak info
152,17. Górszczak,56,26.53933,1,26.53933,NaN,brak info
189,19. Góźdź,38,38.23671,1,18.11166,NaN,brak info
210,23.Szlachta,35,-1.80238,1,-1.80238,NaN,brak info
212,24.Kołomyjec,43,15.89838,1,15.89838,NaN,brak info
225,26.Jeż,168,25.68342,1,25.68342,NaN,brak info
245,31.Marianowska,59,16.52970,1,16.52970,NaN,brak info
254,32. Fil,49,19.24227,1,19.24227,NaN,brak info
263,33.Szołdra,47,36.23408,2,-1.00000,NaN,brak info
294,36.Kręt,80,-27.23970,1,-27.23970,NaN,brak info
297,37.Milewski,56,23.54080,1,23.54080,NaN,brak info
303,38. Kos,42,45.70950,2,-1.00000,NaN,brak info
308,39. Pękała twarz,59,30.85718,1,30.85718,NaN,brak info